extends ./layout/index.pug
block cuerpocontenido
    h1.text-center=pagina 
    if errores 
        div(class="row justify-content-center text-bg-danger ")
            div(class="col-md-4")
                each er in errores 
                    h1(class="fw-bold fs-6")=er.msg 
    div(class="row justify-content-center")
        div(class="col-md-5")
            form(class="space-y-5" action="" method="POST" noValidate) 
                div(class="mb-1")
                    label(for="hotelid" class="form-label") 
                    Nombre del hotel&nbsp; &nbsp; &nbsp;
                    select#hotel(name="id_htl")
                        each datos in info 
                            option(value=datos.dato1 selected) #{datos.dato2} 
                
                div(class="mb-1")
                    label(for="nombre" class="form-label") Nombre
                    input#nombre(class="form-control" type="text" placeHolder="Nombre del gerente" name="nombre" value=dato?dato.nombre:'')
                
                div(class="mb-1")
                    button(type="submit" class="btn btn-primary col-auto") Envíar