extends ./layout/index.pug
block cuerpocontenido
    h1.text-center=pagina 
    if errores 
        div(class="row justify-content-center text-bg-danger ")
            div(class="col-md-4")
                each er in errores 
                    h1(class="fw-bold fs-6")=er.msg 
    div(class="row justify-content-center")
        div(class="col-md-5")
            form(class="space-y-5" action="" method="POST" noValidate) 
                div(class="mb-1")
                    label(for="hotelid" class="form-label") 
                    Nombre del hotel&nbsp; &nbsp; &nbsp;
                    select#hotel(name="id_htl")
                        each datos in info 
                            if(datos.dato1!=hotelselect)
                                option(value=datos.dato1) #{datos.dato2} 
                            else 
                                option(value=datos.dato1 selected) #{datos.dato2} 